body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slideshow {
    width: 100%;
    height: 100%;
}

.content {
    display: block;
    width: 70%;
    height: 720px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 9pt 18pt 9pt 18pt;
    background-color: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.contentA {
    display: block;
    width: 70%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 9pt 18pt 9pt 18pt;
    background-color: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 2px;
    border-color: black;
}


.buttonL {
    position: absolute;
    font-size: 28pt;
    bottom: 30px;
    left: 120px;
    color: rgba(255, 255, 255, 0.6);
}

.buttonR {
    position: absolute;
    font-size: 28pt;
    bottom: 30px;
    right: 120px;
    color: rgba(255, 255, 255, 0.6);
}

.reddot {
    margin-top: 40px;
    z-index: 10;
    width:60px;
    height:60px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:60px;
    text-align:center;
    background-color: red;
}

.bluedot {
    margin-top: 40px;
    z-index: 10;
    width:60px;
    height:60px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:60px;
    text-align:center;
    background-color: blue;
}

.greendot {
    margin-top: 40px;
    z-index: 10;
    width:60px;
    height:60px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:60px;
    text-align:center;
    background-color: green;
}

.yellowdot {
    margin-top: 40px;
    z-index: 10;
    width:60px;
    height:60px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:60px;
    text-align:center;
    background-color: yellow;
}

.rainbow {
    position: absolute;
    bottom: 0;
    z-index: -1;
    height: 100%; 
    width: 100%;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
    background: linear-gradient(to right, 
                                #ff3333 14.25%,
				#ff720d 14.25%, #ff720d 29%,
				#ffed19 29%, #ffed19 43.5%,
				#55ff26 43.5%, #55ff26 58%,
				#33ffce 58%, #33ffce 72.5%,
				#1953ff 72.5%, #1953ff 87%,
				#ce00ff 87%
			       );
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.lightup {
    position: absolute;
    z-index: -1;
    height: 100%; 
    width: 100%;
    background: white;
}

#r {
    display: bplock;
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: height 1s;
    height: 100%;
    width: 14.25%;
    background-color: #ff3333;
}

#o {
    display: block;
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 14.25%;
    height: 100%;
    width: 14.25%;
    background-color: #ff720d;
}

#y {
    display: block;
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 29%;
    height: 100%;
    width: 14.25%;
    background-color: #ffed19;
}

#g {
    display: block;
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 43.5%;
    height: 100%;
    width: 14.25%;
    background-color: #55ff26;
}

#c {
    display: block;
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 58%;
    height: 100%;
    width: 14.25%;
    background-color: #33ffce;
}

#b {
    display: block;
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 72.5%;
    height: 100%;
    width: 14.25%;
    background-color: #1953ff;
}

#m {
    display: block;
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 87%;
    height: 100%;
    width: 14.25%;
    background-color: #ce00ff;
}

h1 {
    font-family: Lato;
    font-size: 72pt;
    color: black;
    text-align: center;
}

h2 {
    font-family: Lato;
    font-size: 18pt;
    text-align: right;
    color: black;
}

h3 {
    font-family: Josefin Slab;
    font-size: 36pt;
    font-weight: bold;
    padding-top: 24pt;
    color: black;
}

p {
    font-family: Josefin Slab;
    font-size: 36pt;
    text-align: center;
    color: black;
}

ul {
    font-family: Josefin Slab;
    font-size: 28pt;
    text-align: left;
    color: black;
}

li {
    padding-bottom: 18pt;
}

p.bulb1 {
    font-size: 160pt;
    text-align: center;
    color: white;
}

p.bulb2 {
    font-size: 160pt;
    text-align: center;
    color: black;
}

p.symbol {
    font-size: 72pt;
    text-align: center;
}

p.countdown {
    font-family: Share Tech Mono;
    font-size: 36pt;
    padding: 18pt;
    text-align: center;
    color: red;
    background: black;
}

img {
    display: block;
    z-index: 1;
    width: 65%;
    margin: auto;
    padding-top: 30px;
}

img.small {
    display: block;
    z-index: 1;
    width: 30%;
    padding-top: 30px;
}

img.tall {
    display: block;
    z-index: 1;
    width: 30%;
    margin: auto;
}
